<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Buy Products: Tindahan ni Aling Nena </title>
	<style>
	body {
	background: url('images/background.jpg') no-repeat center bottom fixed;
	}
	</style>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">
  </head>


  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Tindahan ni Aling Nena</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="admin">
        <h1><%= @product.new_record? ? "Add New Product" : "Buy #{@product.name}" %></h1>
        <form role="form" method="POST" action="<%= @product.new_record? ? '/create_product' : "/next/#{@product.id}" %>">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <label for="name" class="col-sm-2 control-label"> <%= @product.name %></label>
              </div>
            </div>
            <div class="form-group">
              <label for="price" class="col-sm-2 control-label">Price</label>
              <div class="col-sm-10">
                <label for="name" class="col-sm-2 control-label"> <%= @product.price %></label>
              </div>
            </div>
            <div class="form-group">
              <label for="quantity" class="col-sm-2 control-label">Quantity available:</label>
              <div class="col-sm-10">
			<label for="name" class="col-sm-2 control-label"> <%= @product.quantity %></label>
              </div>
            </div>
            <div class="form-group">
              <label for="quantity" class="col-sm-2 control-label">Quantity to be bought:</label>
              <div class="col-sm-10">
		<input type="text" class="form-control" name="quantity_purchased" placeholder="Enter quantity of product" value="<%= @product.quantity %>">
              </div>
            </div>
            <div>
              <h2>Input your payment:</h2>
				</div>
				<div>
				</div>
				<div class="form-group">
					<label for="one" class="col-sm-2 control-label">₱1</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="one" value=0>
					</div>
				</div>
				<div class="form-group">
					<label for="five" class="col-sm-2 control-label">₱5</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="five" value=0>
					</div>
				</div>
				<div class="form-group">
					<label for="ten" class="col-sm-2 control-label">₱10</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="ten" value=0>
					</div>
				</div>
				<div class="form-group">
					<label for="twenty" class="col-sm-2 control-label">₱20</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="twenty" value=0>
					</div>
				</div>
				<div class="form-group">
					<label for="fifty" class="col-sm-2 control-label">₱50</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="fifty" value=0>
					</div>
				</div>
				<div class="form-group">
					<label for="hundred" class="col-sm-2 control-label">₱100</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="hundred" value=0>
					</div>
				</div>
				<div class="form-group">
					<label for="five_hundred" class="col-sm-2 control-label">₱500</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="five_hundred" value=0>
					</div>
				</div>
				<div class="form-group">
					<label for="thousand" class="col-sm-2 control-label">₱1000</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="thousand" value=0>
					</div>
				</div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default btn-primary"><%= @product.new_record? ? "Add New Product" : "Buy #{@product.name}" %></button>
                <a href="/" class="btn btn-default">Back to Product List</a>
              </div>
            </div>
          </form>

      </div>

    </div>


<!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
